/*=====================================
                Base
=====================================*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font: normal 400 1.8rem "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 10px 20px;
}
/*===================================
            Composantes
===================================*/

/*------------Header---------------*/
header{
    background-color: #379AE3;
    font: normal 700 1.8rem "Roboto", sans-serif;
    width: 100%;
    position: fixed;
    z-index: 5;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
     font: normal 700 2.4rem "Merriweather", serif;
}
header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
header a{
    color: #000;
}
header ul a:hover{
    color: #fff;
}
header .btn{
    background-color: #fff;
}

/*------------Hero-------------*/
.hero .wrapper{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: bottom;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1440px;
    width: 100%;
    height: 637px;
}
.hero p{
    font: normal 700 2.0rem 150%/"Roboto", sans-serif;
    color: #fff;
    margin-bottom: 70px;
}
.boite-hero{
    text-align: center;
    justify-items: flex-end;
    background-color: #00000070;
    max-width: 550px;
    margin-right: 135px;
    padding: 40px 50px;
    border-radius: 20px;
}
h1{
    font: normal 700 6.4rem "Merriweather", serif;
    color: #E67522;
}
.hero a{
    display: inline-block;
    background-color: #E67522;
    color: #fff;
    border: none;    
    padding: 7px 40px;
}

/*------------Section contenu-------------*/
.contenu{
    padding: 100px 135px;
    background-color: #E6EDF1;
}
h2{
    font: normal 700 6.4rem "Merriweather", serif;
    text-align: center;
    margin: 0;
}
.titre p{
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.acrobatique{
    position: relative;
}
.premier{
    position: absolute;
    right: 0;
}
.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
article{
    height: 785px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}
article a{
    color: #000;
    font: normal 700 1.8rem "Roboto", sans-serif;
}
article .btn{
    margin-top: auto;
    margin-bottom: 40px;
    background-color: #E67522;
}
article p{
    margin-top: 0;
    padding: 0 25px 0;
    text-align: center;
}
h3{
    font: normal 700 3.6rem "Merriweather", serif;
}

/*-----------Footer---------*/
footer{
    background-color: #CCDAE3;
    padding: 50px 0;
}
footer p{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 60px;
}
.icones{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icones span{
    background-color: #E67522;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 90px;
    width: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 5.5rem;
    color: #fff;  
    
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/*-------Modale------*/
div.mod{
    width: 800px;
    height: 600px;
    cursor: pointer;
    background-color: #fff;
    margin: auto;

    font: normal 700 5.0rem "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #00000080;
    display: none;
}
.modale.visible{
    display: flex;

}




